# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Build outputs
build/
build-*/
mlp

# Example checkpoints
model_checkpoint.txt
test_model_checkpoint.txt
